/***** Main menu styling *****/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: rgba(221, 205, 187, 0.47); /* Off White */
}

.logo {
  max-width: 50em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 15em;
}

.bookshelf-grid {
  height: 12em;
  border: 0.75em solid #A7754D; /* Brown */
  background-color: rgba(167, 117, 77, 0.68); /* Light Brown */
  display: grid;
  grid-template-columns: repeat(14, 40px);
  grid-template-rows: repeat(3, minmax(12em, max-content));
  max-width: 50em;
  justify-content: flex-start;
  margin-left: auto;
  margin-right: auto;
  grid-gap: 10px;
  grid-auto-columns: auto;
}

.bookshelf-item, .bookshelf-item2, .bookshelf-item3, .bookshelf-item4, .bookshelf-item5, .bookshelf-item6, .bookshelf-item7 {
  max-width: 48em;
  margin-left: auto;
  margin-right: auto;
}

.bookshelf-item, .bookshelf-item2, .bookshelf-item3, .bookshelf-item4, .bookshelf-item5, .bookshelf-item6, .bookshelf-item7, .bookshelf-item8, .bookshelf-item9, .bookshelf-item10, .bookshelf-item11, .bookshelf-item12, .bookshelf-item13, .bookshelf-item14 {
  padding: 2em;
  -webkit-transform: rotate(90deg);  /* to support Safari and Android browser */
  -ms-transform: rotate(90deg);      /* to support IE 9 */
  transform: rotate(90deg);
  text-align: center;
  vertical-align: middle;
  width: 14em;
  height: 4em;
}

.bookshelf-item button {
  background-color: #D88C9A; /* Muted Pink */
  padding: 1em;
}

.shelf1 {
  grid-row: 1 / 2;
}

.bookshelf-item2 button {
  background-color: #F2D0A9; /* Champagne */
  padding: 1em;
  grid-column: 2 / 14;
  grid-row: 1 / 3;
}

.bookshelf-item3 button {
  background-color: #A3BCF9; /* Alice Blueish */
  padding: 1em;
  grid-column: 3 / 14;
  grid-row: 1 / 3;
}

.bookshelf-item4 button {
  background-color: #99C1B9; /* Sage Green */
  padding: 1em;
  grid-column: 4 / 14;
  grid-row: 1 / 3;
}

.bookshelf-item5 button {
  background-color: #629365; /* Green */
  padding: 1em;
  grid-column: 5 / 14;
  grid-row: 1 / 3;
}

.bookshelf-item6 button {
  background-color: #A192C8; /* Purple */
  padding: 1em;
  grid-column: 6 / 14;
  grid-row: 1 / 3;
}

.bookshelf-item7 button {
  background-color: #FA9461; /* Orange */
  padding: 1em;
  grid-column: 7 / 14;
  grid-row: 1 / 3;
}

.bookshelf-item8 button {
  background-color: #D88C9A; /* Muted Pink */
  grid-column: 8 / 14;
  grid-row: 1 / 3;
}

.bookshelf-item9 button {
  background-color: #F2D0A9; /* Champagne */
  padding: 1em;
  grid-column: 9 / 14;
  grid-row: 1 / 3;
}

.bookshelf-item10 button {
  background-color: #A3BCF9; /* Alice Blueish */
  grid-column: 10 / 14;
  grid-row: 1 / 3;
}

.bookshelf-item11 button {
  background-color: #99C1B9; /* Sage Green */
  padding: 1em;
  grid-column: 11 / 14;
  grid-row: 1 / 3;
}

.bookshelf-item12 button {
  background-color: #629365; /* Green */
  padding: 1em;
  grid-column: 12 / 14;
  grid-row: 1 / 3;
}

.bookshelf-item13 button {
  background-color: #A192C8; /* Purple */
  padding: 1em;
  grid-column: 13 / 14;
  grid-row: 1 / 3;
}

.bookshelf-item14 button {
  background-color: #FA9461; /* Orange */
  padding: 0.5em;
  grid-column: 14 / 14;
  grid-row: 1 / 3;
}

.bookshelf-grid a {
  color: black;
  font-family: 'Noticia Text', serif;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
}

.bookshelf-grid a:hover {
  color: #DCCCBB; /* Off White */
}

.footer {
  background-color: #646E78; /* Dark Blue */
  padding: 2em;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.footer a {
  color: #DCCCBB; /* Off White */
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

.footer a:hover {
  color: #EAB464; /* Yellow */
  text-decoration: underline;
  font-family: 'Open Sans', sans-serif;
}

.intro p {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  margin-left: 5em;
  margin-right: 5em;
  margin-bottom: 1em;
  text-align: center;
}

p {
  font-family: 'Open Sans', sans-serif;
}

.bookpic img {
  float: left;
  margin: 2em 2em 2em 4em;
  width: 20em;
}

.star {
  height: 2em;
  width: 2em;
}

.bookinfo h1 {
  font-family: 'Noticia Text', serif;
  color: #646E78; /* Dark Blue */
}

.bookinfo h2, h3 , h4 {
  font-family: 'Open Sans', sans-serif;
  color: #8D98A7; /* Light Blue */
}

.bookinfo {
  margin: 2em;
}

.buynow {
  background-color: #A7754D; /* Brown */
  padding: 1em;
  margin: 1em 1em 1em 0em;
}

.buynow a {
  color: white;
  text-decoration: none;
  font-size: 1em;
}

.buynow a:hover {
  color: #DCCCBB; /* Off White */
  text-decoration: underline;
}

q {
  font-family: 'Open Sans', sans-serif;
  color: #8D98A7; /* Light Blue */
}

.analysis {
  margin: 2em 1em 1em 0em;
}

.awards h4 {
  margin: 2em 1em 1em 26em;
}

.awards p {
  margin: 2em 1em 1em 26em;
}
