/***** Main menu styling *****/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 3em;
  background: rgba(221, 205, 187, 0.47); /* Off White */
}

html {
  background: url(images/paper2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html.firstpage {
  background: rgba(221, 205, 187, 0.47); /* Off White */
}

.logo {
  max-width: 50em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 15em;
}

.bookshelf {
  display: flex;
  flex-direction: column;
}

.shelf {
  display:grid;
  grid-template-rows: 14em;
  grid-template-columns: repeat(14, 4em);
  border: 0.75em solid #A7754D; /* Brown */
  background-color: rgba(167, 117, 77, 0.68); /* Light Brown */
  grid-gap: 10px;
}

.bookshelf-item {
  width: 12em;
  height: 3em;
  max-height: 3.5em;
  padding: 0.5em;
  background-color: LightSeaGreen;
  border: 1px none;
  transform: rotate(-90deg) translate(-6.5em, -4em);
  font-family: 'Open Sans', sans-serif;
}

.bookshelf-item-thick {
  width: 12em;
  height: 5em;
  max-height: 3.5em;
  padding: 0.5em;
  background-color: LightSeaGreen;
  border: 1px none;
  transform: rotate(-90deg) translate(-6.25em, -4em);
  font-family: 'Open Sans', sans-serif;
}

.pink {
  background-color: #D88C9A; /* Muted Pink */
}

.champagne {
  background-color: #F2D0A9; /* Champagne */
}

.lightblue {
  background-color: #A3BCF9; /* Alice Blueish */
}

.sagegreen {
  background-color: #99C1B9; /* Sage Green */
}

.green {
  background-color: #629365; /* Green */
}

.purple {
  background-color: #A192C8; /* Purple */
}

.orange {
  background-color: #FA9461; /* Orange */
}

.shelf a {
  color: #41474e; /* Darker Blue */
  text-decoration: none;
}

.shelf p {
  color: #2B2D2F; /* Charcoal Gray */
}

.shelf a:hover {
  text-decoration: underline;
  color: #41474e; /* Darker Blue */
}

.footer {
  background-color: #646E78; /* Dark Blue */
  padding: 2em;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  margin-top: 3em;
}

.pagefooter {
  background-color: #646E78; /* Dark Blue */
  padding: 2em;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
}

.footer a {
  color: #DCCCBB; /* Off White */
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

.footer a:hover {
  color: #EAB464; /* Yellow */
  text-decoration: underline;
  font-family: 'Open Sans', sans-serif;
}

.pagefooter a {
  color: #DCCCBB; /* Off White */
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

.pagefooter a:hover {
  color: #EAB464; /* Yellow */
  text-decoration: underline;
  font-family: 'Open Sans', sans-serif;
}

.intro p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  margin-left: 5em;
  margin-right: 5em;
  margin-bottom: 1em;
  text-align: center;
}

p {
  font-family: 'Open Sans', sans-serif;
}

.bookpic img {
  float: left;
  margin: 2em 2em 2em 4em;
  width: 22em;
}

.star {
  height: 2em;
  width: 2em;
}

.bookinfo h1 {
  font-family: 'Noticia Text', serif;
  color: #646E78; /* Dark Blue */
}

.bookinfo h2, h3 , h4 {
  font-family: 'Open Sans', sans-serif;
  color: #8D98A7; /* Light Blue */
}

.bookinfo {
  margin: 2em;
}

.buynow {
  background-color: #A7754D; /* Brown */
  padding: 1em;
  margin: 1em 1em 1em 0em;
}

.buynow a {
  color: white;
  text-decoration: none;
  font-size: 1em;
}

.buynow a:hover {
  color: #DCCCBB; /* Off White */
  text-decoration: underline;
}

q {
  font-family: 'Open Sans', sans-serif;
  color: #8D98A7; /* Light Blue */
}

.analysis {
  margin: 2em 1em 1em 0em;
}

.awards h4 {
  margin: 2em 1em 1em 26em;
}

.awards p {
  margin: 2em 1em 1em 26em;
}

.warning {
  color: red;
  text-align: center;
  font-size: 20px;
}

/* When the browser is at least 1150px and above */
@media screen and (min-width: 1150px) {
  .warning {
    display: none;
  }
}
